/*Structure - General*/

html,body {
    margin:0px;
    padding:0px;
}

@font-face {
	font-family: FranchiseBold;
	src: url(../fonts/Franchise-Bold.woff);
	font-weight: bold;
}

h1{
	border:0;
	margin:0;
	padding:0;
	font-family:FranchiseBold;
}

.centered
{
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);	
}

/*Structure - Main page*/

#menu
{
	margin:0px;
	padding:0px;
}

#menu > li
{
	margin:0px;
	padding:0px;
	display:block;
}

#menuhistory > li
{
	margin:0px;
	padding:0px;
	display:block;
}

#menuinformation > li
{
	margin:0px;
	padding:0px;
	display:block;
}

h1 a{
	text-decoration: none;
}

/*Design - Main page*/


#menu > li > a 
{
	text-decoration:none;
}

#menuhistory > li > a
{
	text-decoration:none;
}

#menuinformation > li > a
{
	text-decoration:none;
}



.item{
	background-color:white;
}

.item>a{
	text-decoration:none;
	display:block;
	position:relative;
	height:64px;
	line-height:64px;
	text-align:center;
	color:white;
	background-color:rgb(80,197,234);
	box-shadow:0 3px 0.4em rgba(0,0,0,0.5);
	font-size:20pt;
	color:rgb(83,83,83);
	color:white;
	font-weight:normal;
	margin-top:10px;
}

#menu>li:nth-child(1)>div>a{
	background-color: rgb( 89, 195, 239 ); /*Blue block */
}

#menu>li:nth-child(2)>div>a{
	background-color: rgb( 169, 211, 112 );/* Green block */
}

#menu>li:nth-child(3)>div>a{
	background-color: rgb( 242, 237, 78 ); /* Yellow block */
}

#menu>li:nth-child(4)>div>a{
	background-color: rgb( 242, 205, 78 ); /* Orange block */

}

#menu>li:nth-child(5)>div>a{
	 background-color: rgb( 242, 151, 78 );/* Light Orange block */

}

#menu>li:nth-child(6)>div>a{
	background-color: rgb( 243, 83, 40 ); /* Light red block */
}

#menu>li:nth-child(7)>div>a{
  background-color: rgb( 247, 3, 3 ); /* Red block */
}

#top-bar{
	height:64px;
	box-shadow:0 3px 0.4em rgba(0,0,0,0.5);
	background-color:white;
	position:relative;
}

#back-button{
	position:absolute;
	left:19px;
	top:50%;
	width:12px;
	height:21px;
	background:url('../design_folder/assets/back_button.png');
	background-size:100% 100%;
	margin-top:-10px;
}

#buttoncirclewhite{
    display: inline-block;
    height:25px;
	width:25px;
	background-color:white;
	font-family:arial;
	font-size:20px;
	color:black;
	border-radius: 15px;
	border-style:solid;
	border-color: black;
	text-align:center;
	margin-top:2px;
	margin-bottom: 2px;
}


#button{
    display: inline-block;
    height:20px;
	width:70px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}


.buttoncircle{
    display: inline-block;
    height:28px;
	width:28px;
	background-size: 50% 50%;
	background-position:center;
	background-repeat:no-repeat;
	background-color:rgb( 89, 195, 239 );
	border-radius: 14px;
	color:#ffffff;
}

#plusbutton{
	display:block;
	background-image:url('../design_folder/assets/plus_sign.png');
	background-color:rgb( 89, 195, 239 );
	height:64px;
	background-position:center;
	background-repeat:no-repeat;
	margin:0px;
}

#minusbutton{
	background-image:url('../design_folder/assets/minus.png');
}


#buttoncircle a{
	text-decoration: none; 
	color:white;
}


#secondbutton{
    display: inline-block;
    height:20px;
	width:70px;
	background-color:yellow;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}

#button a{
	text-decoration: none;
	}

#secondbutton a{
	text-decoration: none;
	}
	
.information{
	margin:20px;
}

#printer{
	position:absolute;
	right:19px;
	top:50%;
	width:25px;
	height:25px;
	background:url('../design_folder/assets/printer.png');
	background-size:100% 100%;
	margin-top:-10px;
}

#informationicon{
	position:absolute;
	right:19px;
	top:50%;
	width:25px;
	height:25px;
	background:url('../design_folder/assets/information_icon.png');
	background-size:100% 100%;
	margin-top:-10px;
}

/* June 13 demo */

