#menu
{
	bottom:0px;
}

#menu > li{
	margin-top:5px;
}

#menu > .item > a:first-child
{
	height:50px;
}

#main-icon{
	bottom:215px;
} 

.lefticon
{
	height:30px;
	margin-top:-15px;
	width:100px;
}

.item>a:first-child{
	font-size:16px;
}

.item-text > div:last-child {
	font-size:13px;
}

.item-text {
	left:105px
}
.lefticon {
	width:90px
}