/*Structure - General*/

html,body {
    margin:0px;
    padding:0px;
    background: rgb( 240, 240, 240 );
	overflow-x: hidden;
}


/*MAIN MENU*/

.top-bar, .right-bar, .left-bar, .white-box, .white-box-history, #menuyourhistory>.item>a:first-child, #menuinformation>.item>a:first-child, #menuchssn>.item>a:first-child, #menu > li, #menuyourhistory > li, #menumultipleusers >li, #menuinformation > li, #menuchssn > li, #menulexicon > li, #menuphonenumbers > li, .footer, #emergency, .dynamic-size-box{
	 box-shadow: 0px 0px 5px 2px rgba( 0, 0, 0 ,0.1);
}

.top-bar{
	height:64px;
	background-color: rgb( 255, 255, 255 );
	position:relative;
}

.centered
{
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);	
}





.lefticon
{
	position:absolute;
	background-size:contain;
	background-position:center;
	left:0px;
	top:50%;
	height:52px;
	margin-top:-26px;
	width:100px;
	background-repeat:no-repeat;
	z-index:10;
}

#menuyourhistory_icon{
	background-image:url('../design_folder/assets/menu_yourhistory_icon.png');
	
}

#menuyourlexicon_icon{
	background-image:url('../design_folder/assets/menu_lexicon_icon.png');
}


#menuquestion_icon{
	background-image:url('../design_folder/assets/importantnumber_icon.png');
}

#menuinfo_icon{
	background-image:url('../design_folder/assets/logo_about.png');
	background-size:contain;
}


#menu
{
	margin:0px;
	padding:0px;
	position:absolute;
	width:100%;
	bottom:10px;
	left:0px;
}


#main-icon{
  background-image: url('../design_folder/assets/logo_menu_small.png');
  /*width: 86px;
  height:96px;*/
  position:absolute;
  top:64px;
  bottom:340px;
  left:0px;
  right:0px;
  background-repeat: no-repeat;
  background-position:center;
  background-size: auto 80%;
} 

#informationicon{
	position:absolute;
	right:0px;
	top:0px;
	bottom:0px;
	width:64px;
	background:url('../design_folder/assets/info_icon.png');
	background-size:28px 28px;
	background-position:center;
	background-repeat:no-repeat;
}

.ratestar{
	position:absolute;
	right:0px;
	left:2px;
	top:0px;
	bottom:0px;
	background:url('../design_folder/assets/rate_app.png');
	background-size:28px 28px;
	background-position:center;
	background-repeat:no-repeat;
}

.orgicon{
	position:absolute;
	left:0px;
	right:2px;
	top:5px;
	bottom:5px;
	background:url('../design_folder/assets/side-org-icon.png');
	background-size:28px auto;
	background-position:center;
	background-repeat:no-repeat;
}

.lng-en{
	display:block;
}

.lng-fr{
	display:none;
}

#bookmarkicon{
	position:absolute;
	left:0px;
	top: 15px;
	bottom: 15px;
	width:65px;
	background:url('../design_folder/assets/homescreen_icon.png');
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
}

.item-text{
	position:absolute;
	top:50%;
	left:125px;
	-ms-transform: translate(0%,-50%);
	-webkit-transform: translate(0%,-50%);
	transform: translate(0%,-50%);
}

.user-item-text {
	position:absolute;
	top:50%;
	left:50px;
	-ms-transform: translate(0%,-50%);
	-webkit-transform: translate(0%,-50%);
	transform: translate(0%,-50%);
}

.item-text > div:first-child {
	text-align:left;
}


.item-text > div:last-child {
	text-align:left;
}

.right-bar{
		top:100px;
		right:0px;
        width: 40px; /* must never add up to more than 100% */
        background-color: rgb( 238, 75, 81 );
        height: 65px;
        position:absolute;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        cursor: pointer;
}

.left-bar{
		top:100px;
		left:0px;
        width: 40px; /* must never add up to more than 100% */
        background-color: rgb(255,255,255);
        height: 65px;
        position:absolute;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;
}

#rate-star-icon {
	z-index:11;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#organization-icon {
	z-index:11;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#main-menu-rate-this-app-container {
	position:absolute;
	top:90px;
	right:0px;
    width: 250px;
    height: 230px;
	z-index:11;
	overflow:hidden;
	pointer-events:none;
}


#main-menu-organization-container {
	position:absolute;
	top:90px;
	left:0px;
    width: 250px;
    height: 230px;
	z-index:11;
	overflow:hidden;
	pointer-events:none;
}

#main-menu-rate-this-app {
	position:absolute;
	top:0px;
	right:-250px;
    width: 250px;
    height: 230px;
	font-family:LiberationSansRegular,"Helvetica", sans-serif;
	font-size:16px;
	background-color:white;
	border-radius:6px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	pointer-events:all;
}

#main-menu-organization {
	position:absolute;
	top:0px;
	left:-250px;
    width: 250px;
    height: 230px;
	font-family:LiberationSansRegular,"Helvetica", sans-serif;
	font-size:16px;
	background-color:white;
	border-radius:6px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	pointer-events:all;
}

#main-menu-rate-this-app > div {
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	padding:10px;
	text-align: center;
}

#main-menu-organization >div {
	padding:15px;
}

.sharebutton_icon{
	position:relative;
	display: inline-block;
	width:25px;
	height:25px;
	background-image:url('../shareiconios.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 2px;
}

.addtohomescreen_icon{
	position:relative;
	display: inline-block;
	width:25px;
	height:25px;
	background-image:url('../addtohomescreenios.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
	vertical-align: middle;
	margin-left: 3px;
	margin-right: 3px;
	
}

.ratingstars{
	display:inline-block;
	height:34px;
	width: 34px;
	background-image:url('../design_folder/assets/rate_star.png');
    background-position:center;
	background-repeat:no-repeat;
	margin-top:15px;
	margin-bottom:15px;
	cursor:pointer;
}

#rateit{
	font-weight:bold;
	text-transform:uppercase;
}

/* LEXICON */

#back-button{
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	width:56px;
	background-size:12px 21px;
	background-image:url('../design_folder/assets/back_button.png');
	background-position:center;
	background-repeat:no-repeat;
}

.below-button{
    position:absolute;
	left:0px;
	top:0px;
	height:100%;
	width:56px;
	background-size:21px 12px;
	background-image:url('../design_folder/assets/back_icon_down.png');
	background-position:center;
	background-repeat:no-repeat;
    -webkit-transition-property: transform -webkit-transform;
    -webkit-transition-duration: 0.2s;
    transition-property: transform -webkit-transform;
    transition-duration: 0.2s;
}

.white-box{
	position:relative;
	margin:0px;
	margin-top:10px;
	height:64px;
	padding:0px;
	display:block;
	background-color:white;

}

.dynamic-size-box
{
	position:relative;
	margin:0px;
	margin-top:10px;
	display:block;
	background-color:white;
	font-family: LiberationSansRegular,"Helvetica", sans-serif;
	font-size:16px;
	text-align:left;
	padding:20px;
	height:none;
}

.search-box-container{
	position:absolute;
	top:5px;
	bottom:5px;
	right:5px;
	left:65px;
	padding:0px;
}

.search-box{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	width:100%;
	/*width:auto;
	background-color:rgba(0,0,0,0.03);
	padding:5px;
	font-size:22pt;
	margin-right:100px;
	border:none;*/
	background-color:rgba(0,0,0,0.03);
	padding:5px;
	font-size:22pt;
	border:none;
	display:block;
	
}

#search-button{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width:60px;
	background-image:url('../design_folder/assets/lexicon_lupe.png');
	background-size:27px 24px;
	background-repeat:no-repeat;
	background-position:center;
}



.submenu-text
{
	left:70px;
	margin-top:3px;
}


li{background-color:white}

.lexicon-items{
	border:0px;
	padding:0px;
	margin:0px;
	display:none;
}

.lexicon-items>li{
	border:0px;
	padding:10px;
	margin:0px;
}



.lexicon-items>li:nth-child(even)
{
	background-color:rgba(0,0,0,0.03);
}

.lexicon-items>li>span:first-child
{
	/*font-family:FranchiseBold;*/
}

.item{
	position:relative;
	/*min-height:64px;*/
}

.item>a:first-child{
	text-decoration:none;
	display:block;
	position:relative;
	height:64px;
    color:rgba(0,0,0,0.78);
	background-color:rgb(89,195,239);
	z-index:5;
}


.detached-header>.lexicon-items
{
	margin-top:74px;
}

.detached-header>.history-items
{
	margin-top:84px;
}

.detached-header>a:first-child
{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	height:64px;
}

.search-result-bubble
{
	position:absolute;
	top:50%;
	right:10px;
	width:44px;
	height:44px;
	margin-top:-22px;
	background-color:rgba(255,255,255,0.3);
	border-radius:22px;
	color:rgba(0,0,0,0.78);
	display:none;
}

/* YOUR HISTORY */

/*#menuyourhistory>.item
{
	overflow:hidden;
}*/

#printericon{
	position:absolute;
	right:0px;
	top:0px;
	bottom:0px;
	width:64px;
	background:url('../design_folder/assets/printer.png');
	background-size:25px 25px;
	background-position:center;
	background-repeat:no-repeat;
}

.history-items
{
	color:rgba(0,0,0,0.78);
	display:none;
}

.history-items p{
	position:relative;
	margin:0px;
	border:0px;
	margin-top:5px;
	margin-bottom:8px;
}

.history-items h3{
	padding:0px;
	padding-left:0px;
	padding-right:0px;
	margin-top:5px;
}

.no-bottom-pad
{
	margin-bottom:0px;
}

.box-input
{
	
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    border:1px;
    border-color:rgba(0,0,0,0.3);
    border-style:solid;
    position:absolute;
    width:100%;
    top:0px;
	left:0px;
    height:100%;
    
}
.box-input-container
{
	height:40px;
	padding:0px;
	position:relative;
}

.side-box-input
{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    border:1px;
    border-color:rgba(0,0,0,0.3);
    border-style:solid;
    position:absolute;
    width:80%;
    top:0px;
    height:100%;
}



.text-container
{
	padding:0px;
	padding-left:5px;
	padding-right:5px;
}

.white-box-history{
	clear:both;
	position:relative;
	margin:0px;
	margin-top:10px;
	padding:0px;
	display:block;
	background-color:white;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:15px;
	overflow:auto;

}

.left-box-title{
	width:auto;
	margin-top:5px;
}

.right-box-container{
	position:relative;
	height:40px;
	margin-top:5px;
}


.side-right-box-container{
	position:relative;
	height:40px;
	margin-top:5px;
}


.trashbutton{
	background-position: right;
	background-repeat: no-repeat;
	background-image:url('../design_folder/assets/TRASH.png');
	background-size:15px 27px;
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	width:29px;
}

.plusbutton{
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background-image:url('../design_folder/assets/plus_sign.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:18px 18px;
	margin:0px;
}

.left-box-title>label>input[type='radio']{
	display:none;
}


.actual-radio {
	display:inline-block;
	width:40px;
	height:40px;
	vertical-align:middle;
	margin-right:10px;
	border-radius:26px;
	background-color:rgb(220,220,220);
	border-style:solid;
	border-color:rgb(220,220,220);
	border-width:6px;
}

input:checked + .actual-radio{
	background-color:rgb(0,0,0);
}

.extra-margin-bottom
{
	margin-bottom:15px;
}

.second-label
{
	margin-left:15px;
}

/* INFORMATION */

.phone-icon{
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	width:64px;
	background-image:url('../design_folder/assets/importantnumbers_phone.png');
	background-size:26px 28px;
	background-repeat:no-repeat;
	background-position:center;
}

.externallink-icon{
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	width:64px;
	background-image:url('../design_folder/assets/external_link.png');
	background-size:26px 28px;
	background-repeat:no-repeat;
	background-position:center;
}

.info-content
{
	color:rgba(0,0,0,0.78);
	width:100%;
	text-align:center;
}

.info-content-small
{
	color:rgba(0,0,0,0.78);
	width:100%;
	text-align:center;
}


.info-content-smallest
{
	color:rgba(0,0,0,0.78);
	width:100%;
	text-align:center;
}


.info-link,.info-link:visited, info-link:active
{
	text-decoration:none;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}

.phone-link, .phone-link:visited, phone-link:active
{
	text-decoration:none;
	color:inherit
}

.taller-box{
	height:96px;
}

/*   */



h1{
	border:0;
	margin:0;
	padding:0;
	color:rgba(0,0,0,0.78);
}

h1 a{
	text-decoration: none;
}







/*Menus styles*/


#menu > li{
	margin:0px;
	margin-top:10px;
	padding:0px;
	display:block;
}

#menu > li > a:first-child {
	text-decoration:none;
}

#menu > li :nth-child(1) >a:first-child{
	background-color: rgb( 89, 195, 239 );
}

#menu >li:nth-child(2) >a:first-child{
	background-color: rgb( 255, 240, 3 );
}

#menu > li:nth-child(3) >a:first-child{
	background-color: rgb( 141, 212, 46 );
}

#menu > li:nth-child(4) >a:first-child{
	background-color: rgb( 60, 184, 120 );
}

#menuyourhistory, #menumultipleusers
{
	margin:0px;
	padding:0px;
}

#menuyourhistory > li {
	margin:0px;
	margin-top:10px;
	padding:0px;
	display:block;
}

 #menumultipleusers>li {
	margin:0px;
	margin-top:10px;
	padding:0px;
	display:block;
}


 #menumultipleusers>li.padded-li {
	margin:0px;
	margin-top:10px;
	padding:15px;
	padding-right:20px;
	display:block;
}


#menuyourhistory>li:nth-child(1)>a:first-child{
	background-color: rgb( 166, 223, 246 ); /*Blue block */
}

#menuyourhistory>li:nth-child(2)>a:first-child{
	background-color: rgb( 193, 232, 142 );/* Green block */
}

#menuyourhistory>li:nth-child(3)>a:first-child{
	 background-color: rgb( 247, 244, 123 );/* Yellow block */
}

#menuyourhistory>li:nth-child(4)>a:first-child{
	  background-color: rgb( 246, 219, 125 ); /* Orange block */
}

#menuyourhistory>li:nth-child(5)>a:first-child{
	 background-color: rgb( 247, 179, 123 ); /* Mustard Orange block */
}

#menuyourhistory>li:nth-child(6)>a:first-child{
	  background-color: rgb( 249, 162, 139 ); /* Red block */
}

#menuyourhistory>li:nth-child(7)>a:first-child{
    background-color: rgb( 251, 119, 119 );  /* Red block */
}

/*GABY: LIVING HABITS BACKGROUND WITHOUT LOADER!!!! */

#menuyourhistory>li:nth-child(8)>a:first-child{
    background-color: rgb( 342, 53, 98 );  /* Red block */
}

#menuinformation{
	margin:0px;
	padding:0px;
}

#menuchssn{
	margin:0px;
	padding:0px;
}

#menuinformation > li{
	margin:0px;
	margin-top:10px;
	padding:0px;
	display:block;
}

#menuchssn > li{
	margin:0px;
	margin-top:10px;
	padding:0px;
	display:block;
}

#menuinformation>li:nth-child(1)>a:first-child{
	background-color: rgb( 141, 212, 46 ); /*Green block */
}

#menuinformation>li:nth-child(2)>a:first-child{
	background-color: rgb( 48, 212, 90 );/* Green block */
}

#menuchssn>li:nth-child(2)>a:first-child{
	background-color: rgb( 68, 208, 136 ); /*Green block */
}

#menuchssn>li:nth-child(3)>a:first-child{
	background-color: rgb( 62, 229, 143 );/* Green block */
}


#menuchssn>li:nth-child(4)>a:first-child{
	background-color: rgb( 130, 245, 185 );/* Green block */
}

#information_color{
	background-color: rgb( 141, 212, 46 );
}

#menulexicon{
	margin:0px;
	padding:0px;
}

#menulexicon > li{
	margin:0px;
	margin-top:10px;
	padding:0px;
	display:block;
}
/*
#menulexicon > li:nth-child(1)>a:first-child{
	background-color: rgb( 255, 243, 49 );
}

#menulexicon >li:nth-child(2)>a:first-child{
	background-color: rgb( 243, 211, 59 );
}

#menulexicon > li:nth-child(3) >a:first-child{
	background-color: rgb( 243, 177, 59 );
}
	
#menulexicon > li:nth-child(4) >a:first-child{
	background-color: rgb( 243, 145, 59 );
}
*/

#menuphonenumbers{
	margin:0px;
	padding:0px;
}

#menuphonenumbers > li
{
	margin:0px;
	margin-top:10px;
	padding:0px;
	display:block;
	
}

#menuphonenumbers > li:nth-child(1) >a:first-child{
	background-color: rgb( 156, 212, 48 );
}

#menuphonenumbers>li:nth-child(2) >a:first-child{
	background-color: rgb( 180, 212, 50 );
}

#menuphonenumbers > li:nth-child(3) >a:first-child{
	background-color: rgb( 206, 212, 50 );
}

#menuphonenumbers > li:nth-child(4) >a:first-child{
	background-color: rgb( 217, 224, 31 );
}

#menuphonenumbers > li:nth-child(5) >a:first-child{
	background-color: rgb( 229, 237, 13 );
}




#menu > .item > a:first-child
{
	height:75px;
}



/*Titles styles*/



.loader{
	position:absolute;
	left:0;
	top:0;
	width:50%;
	height:100%;
	z-index:0;
	-webkit-transition-property: width;
    -webkit-transition-duration: 0.4s;
    transition-property: width;
    transition-duration: 0.4s;
}

.personalinfo_loader{
  	background-color: rgb( 89, 195, 239 );
 	/*box-shadow: 2.5px 4.33px 5px 0px rgb( 0, 0, 0);*/
}

.medical_contacts_loader{
	background-color: rgb( 141, 212, 46 );
}

.allergies_loader{
	background-color: rgb( 241, 234, 12 ); 
}

.current_medication_loader{ 
	background-color: rgb( 239, 189, 15 ); 
}

.current_diagnosis_loader{
	background-color: rgb( 240, 114, 11 ); 
}

.medical_history_loader{
	background-color: rgb( 243, 83, 40 );
}

.surgical_loader{
	background-color: rgb( 247, 3, 3 );
}

/*GABY: LIVING HABITS LOADER!!!! */

.living_habits_loader{
  background-color: rgb( 247, 3, 78);
}





#smoking_color{
	background-color: rgb( 247, 3, 3 );
  	box-shadow: 2.5px 4.33px 5px 0px rgba( 0, 0, 0 ,0.1);
}

#alcohol_color{
  background-color: rgb( 247, 68, 6 );
  box-shadow: 2.5px 4.33px 5px 0px rgba( 0, 0, 0 ,0.1);
}

.physical_color {
  background-color: rgb( 247, 119, 6 );
  box-shadow: 2.5px 4.33px 5px 0px rgba( 0, 0, 0 ,0.1);
}

#sleep_color {
  background-color: rgb( 247, 153, 6 );
  box-shadow: 2.5px 4.33px 5px 0px rgba( 0, 0, 0 ,0.1);

}

/*Button and Icon styles*/




#chssn_color{
	background-color: rgb( 48, 212, 90 );
}




#close-popup-button{
    display: inline-block;
    height:21px;
	width:21px;
	background-color:white;
	background:url('../design_folder/assets/popup_close.png');
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin-top:2px;
}

#printer_bad{
	position:absolute;
	right:19px;
	top:50%;
	width:25px;
	height:25px;
	background:url('../design_folder/assets/printer.png');
	background-size:100% 100%;
	margin-top:-10px;
}

#informationicon-bad{
	position:absolute;
	right:19px;
	top:50%;
	width:25px;
	height:25px;
	background:url('../design_folder/assets/info_icon.png');
	background-size:100% 100%;
	margin-top:-10px;
}






#chssn_icon{
  margin: 10% 45% 10% 45%;
  background-image: url('../design_folder/assets/Splash_screen_chssn.png');
  min-width: 120px;
  min-height:50px;
  background-repeat: no-repeat;
} 


/*Boxes styles*/

.footer {
  min-height:50px;
  
 }





#emergency {
	display:block;
	position:relative;
	background-color: rgb( 255, 255, 255 );
	text-align:center;
	color:rgba(0,0,0,0.60);
	margin-top:10px;
}

/*Added by Adolfo*/

.noclick {
	pointer-events:none;
}


/* Fonts */

@font-face {
	font-family: FranchiseBold;
	src: url(../fonts/Franchise-Bold.woff);
}

@font-face {
	font-family: FuturaCondensedMedium;
	src: url(../fonts/FuturaCondensedMedium.woff);
}

@font-face {
	font-family: LiberationSansBold;
	src: url(../fonts/liberationsans-bold-webfont.woff);
}

@font-face {
	font-family: LiberationSansBoldItalic;
	src: url(../fonts/liberationsans-bolditalic-webfont.woff);
}

@font-face {
	font-family: LiberationSansItalic;
	src: url(../fonts/liberationsans-italic-webfont.woff);
}

@font-face {
	font-family: LiberationSansRegular;
	src: url(../fonts/liberationsans-regular-webfont.woff);
}

.bar-title-container {
	text-align:center;
}

.org-name {
	font-family: LiberationSansRegular,"Helvetica", sans-serif;
	font-stretch: condensed;
	font-size:16px;
}

.item-text > div:first-child {
	font-family:LiberationSansBold,"Helvetica", sans-serif;
	font-weight:bold;
	text-transform:uppercase;
}

.item-text > div:last-child {
	font-family: LiberationSansRegular,"Helvetica", sans-serif;
	font-stretch: condensed;
	font-size:16px;
     white-space:nowrap;
}

.lexicon-items>li{
	font-family: LiberationSansRegular,"Helvetica", sans-serif;
	font-size:14px;
	text-align:left;
}



.search-box-container{
	font-size:22pt;
}

.submenu-text > div:first-child{
	font-size: 16px;
	white-space:nowrap;
}


.item>a:first-child{
	font-size:22px;
	font-weight:normal;
	white-space:nowrap;
}

.search-result-bubble{
	font-family: LiberationSansRegular,"Helvetica", sans-serif;
	font-size:15pt;
}

.history-items{
	font-family: LiberationSansRegular,"Helvetica", sans-serif;
	font-size:14px;
}

.history-items h3{
	font-weight:normal;
}

.box-input{
    font-size:20pt;
}

.side-box-input{
    font-size:20pt;
}

.right-box-container>.box-input {
	font-size:15pt;
}

.side-right-box-container>.box-input {
	font-size:20pt;
}

.info-content{
	font-family: LiberationSansRegular,"Helvetica", sans-serif;
	font-size:16px;
	font-weight: bold;
}

.info-content-small
{
	font-family: LiberationSansRegular,"Helvetica", sans-serif;
	font-size:16px;
}


h1{
	font-family:LiberationSansBold,"Helvetica", sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	font-size: 15pt;
	white-space:nowrap;
}

#emergency {
	font-weight: bold;
	font-family:LiberationSansRegular,"Helvetica", sans-serif;
	font-size:50px;
}

/* INFO */

.info-popup {
	background-color:rgba(0,0,0,0.5);
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	display:none;
	z-index:200;
}

.info-popup > div {
	position:absolute;
	top:50%;
	left:50%;
	width:300px;
	height:200px;
	background:white;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	border-radius:6px;
	text-align:center;
	font-family:LiberationSansRegular,"Helvetica", sans-serif;
	font-size:16px;
	padding:25px;
}

#main-menu-bookmark-info > div {
	width: 350px;
	height:150px;
}

.info-popup > div > a:last-child {
	position:absolute;
	bottom:0px;
	left:50%;
	-ms-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0);
	width:40px;
	height:40px;
	background-image:url(../design_folder/assets/popup_close.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: 50% auto;
}

/*.info-popup > div > div
{
	position:absolute;
	top:35px;
	left:15px;
	right:15px;
	bottom:60px;
	text-align:center;
	font-family:LiberationSansRegular,"Helvetica", sans-serif;
	font-size:16px;
}*/

.health-pass-link{
		text-decoration: none;
		font-family:LiberationSansRegular,"Helvetica", sans-serif;
		color:rgba(0,0,0,0.78);
}


.health-pass-title
{
	font-size:15pt;
	top:10px;
	bottom:10px;
	/*background-image:url('../design_folder/assets/chssn_topbar.png');*/
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 30% auto;
}

#chssn-title
{
	background-image:url('../design_folder/assets/chssn_info.png');
	background-repeat:no-repeat;
	background-position: center;
	background-size: contain;
	display:inline-block;
	width:40px;
	height:32px;
	float:left;
	margin-right:5px;
}


.item>a.chssn-title-bar
{
	height:75px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeout {
    0% {opacity: 1;}
    66% {opacity: 1;}
    100% {opacity: 0;}
}

/* Standard syntax */
@keyframes fadeout {
    0% {opacity: 1;}
    66% {opacity: 1;}
    100% {opacity: 0;}
}

#loading-page
{
	position:fixed;
	background-color:rgb(240,240,240);
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background-image:url('../design_folder/assets/logo_splash_screen.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:auto 40%;
	z-index:200;
	pointer-events:none;
    /*animation: fadeout 2s;
	-webkit-animation: fadeout 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;*/
}

/* Multiple Users */

.multipleusers_icon{
	background-image:url('../design_folder/assets/hexagon.png');
}

.multipleuserscolor{
	background-color: rgb( 255, 255, 255 );
	font-family:LiberationSansRegular,"Helvetica", sans-serif;
}

.multipleuserscolor>a:first-child{
    color:rgba(0,0,0,0.78);
	background-color:rgb(255,255,255);
}


#editicon{
	position:absolute;
	right:0px;
	top:25px;
	bottom:25px;
	width:64px;
	background-size:28px 28px;
	background-position:center;
}

#editicon>a{
		text-decoration: none;
		text-align:center;
		font-family:LiberationSansRegular,"Helvetica", sans-serif;
		color:rgba(0,0,0,0.78);
}


#okicon{
	position:absolute;
	right:0px;
	top:25px;
	bottom:25px;
	width:64px;
	background-size:28px 28px;
	background-position:center;
}

#okicon>a{
		text-decoration: none;
		text-align:center;
		font-family:LiberationSansRegular,"Helvetica", sans-serif;
		color:rgba(0,0,0,0.78);
}


.forward-button{
	position:absolute;
	right:0px;
	top:5px;
	bottom:5px;
	width:56px;
	background-size:12px 21px;
	background-image:url('../design_folder/assets/forward_button.png');
	background-position:center;
	background-repeat:no-repeat;
	z-index:10;
}



.righticon
{
	position:absolute;
	background-size:contain;
	background-position:center;
	right:0px;
	top:50%;
	height:52px;
	margin-top:5px;
	width:100px;
	background-repeat:no-repeat;
	z-index:10;
}

.righticon-invisible {
	display:none;
}

.addme{
	text-align: center;
	margin-top:15px;
}

.addme-noclick {
	opacity:0.25;
	pointer-events:none;
	
}

.addme >a{
	text-align: center;
	text-decoration: none;
	color:rgba(0,0,0,0.78);
	text-transform:uppercase;
	font-weight:bold;
}

.submit-comment >a{
	text-align: center;
	text-decoration: none;
	color:rgba(0,0,0,0.78);
	text-transform:uppercase;
	font-weight:bold;
}

.mulefticon
{
	position:absolute;
	background-size:auto 100%;
	background-position:center;
	left:0px;
	top:5px;
	bottom:5px;
	width:80px;
	background-repeat:no-repeat;
	z-index:10;
	text-align: center;
	color:white;
}

.mulefticon > div {
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	
}

/*.pictureuser{
	display:inline-block;
	padding:0px;
	margin:0px;
	display:block;
	height: 40px;
	width:40px;
	background-image:url('../hexagon.png');
	background-size:28px 28px;
	background-position:center;
	background-repeat:no-repeat;
}*/

.remove-button {
	position:absolute;
	top:5px;
	right:15px;
	bottom:5px;
	width:80px;
	background-image:url('../design_folder/assets/TRASH.png');
	background-position:center;
	background-size:15px 27px;
	background-repeat:no-repeat;
	z-index:10;
}

.edit-name-textbox {
	position:absolute;
	left:80px;
	top:20%;
	bottom:20%;
	right:80px;
	z-index:10;
	border:1px;
    border-color:rgba(0,0,0,0.3);
    border-style:solid;
	font-family: LiberationSansRegular,"Helvetica", sans-serif;
	font-size:16px;
}

.edit-invisible {
	display:none;
}

#org-about {
	position:absolute;
	left:0px;
	right:0px;
	top:50%;
	-ms-transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
	font-size:11pt;
	
}

#language-pane {
	
	height:41px;
	background-color:rgb(240,240,240);
	font-family:LiberationSansRegular,"Helvetica", sans-serif;
	cursor:pointer;
	
}

#en-button {
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	width:50%;
}

#fr-button {
	position:absolute;
	right:0px;
	top:0px;
	bottom:0px;
	width:50%;
}

.selected-lang {
	background-color:white;
	box-shadow: 0px 0px 5px 2px rgba( 0, 0, 0 ,0.1);
}





















