/*Structure - General*/

html,body {
    margin:0px;
    padding:0px;
}

.centered
{
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);	
}

/*Structure - Main page*/

#menu
{
	margin:0px;
	padding:0px;
}

#menu > li
{
	margin:0px;
	padding:0px;
	display:block;
}

#menuhistory > li
{
	margin:0px;
	padding:0px;
	display:block;
}

#menuinformation > li
{
	margin:0px;
	padding:0px;
	display:block;
}

h1 a{
	text-decoration: none;
}

/*Design - Main page*/

#menu
{
	background-color:red;
}

#menu > li > a 
{
	text-decoration:none;
}

#menuhistory > li > a
{
	text-decoration:none;
}

#menuinformation > li > a
{
	text-decoration:none;
}

#button{
    display: inline-block;
    height:20px;
	width:70px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}

#buttoncircle{
    display: inline-block;
    height:25px;
	width:25px;
	background-color:black;
	font-family:arial;
	font-size:20px;
	color:#ffffff;
	border-radius: 15px;
	text-align:center;
	margin-top:2px;
	margin-bottom: 2px;
}

#buttoncircle a{
	text-decoration: none; 
	color:white;
}


#secondbutton{
    display: inline-block;
    height:20px;
	width:70px;
	background-color:yellow;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}

#button a{
	text-decoration: none;
	}

#secondbutton a{
	text-decoration: none;
	}
	
.information{
	margin:20px;
}