[submodule "lib/jsPDF"]
	path = lib/jsPDF
	url = git://github.com/ArepaMtl/jsPDF
[submodule "lib/jquery"]
	path = lib/jquery
	url = git://github.com/ArepaMTL/jquery
[submodule "lib/jquery-localize"]
	path = lib/jquery-localize
	url = git://github.com/ArepaMTL/jquery-localize
[submodule "lib/HideSeek"]
	path = lib/HideSeek
	url = https://github.com/ArepaMtl/HideSeek
[submodule "lib/add-to-homescreen"]
	path = lib/add-to-homescreen
	url = https://github.com/cubiq/add-to-homescreen
